<header
  class="sticky top-0 h-16 bg-white bg-opacity-50 shadow-sm dark:bg-gray-800 backdrop-filter backdrop-blur"
>
  <nav
    class="container flex items-center justify-between h-full py-3 mx-auto center"
  >
    <a [routerLink]="['/', path.Products]" class="flex items-center h-full">
      <img src="../../../assets/logo_tul.svg" alt="TUL brand" />
    </a>

    <div class="flex items-center">
      <app-cart-button class="mr-3"></app-cart-button>
      <app-user-dropdown></app-user-dropdown>
    </div>
  </nav>
</header>
