<div class="max-w-lg mx-auto mt-12">
  <tui-loader
    [overlay]="true"
    size="xl"
    [showLoader]="(isLoading$ | async) || false"
  >
    <img
      src="../../../assets/logo_tul.svg"
      alt="TUL brand"
      class="block mb-6"
    />

    <!-- header -->
    <h3 class="mb-2">Crear una cuenta</h3>
    <!-- /header -->

    <tui-notification
      *ngIf="error$ | async as error"
      [status]="status"
      class="my-2"
    >
      {{error}}
    </tui-notification>

    <!-- form -->
    <app-register-form (signUp)="onSignUp($event)"></app-register-form>
    <!-- /form -->

    <!-- link -->
    <span class="block mt-2">
      ¿Ya tiene una cuenta?
      <a class="text-blue-400 cursor-pointer" [routerLink]="['/', path.SignIn]">
        Iniciar sesión
      </a>
    </span>
    <!-- /link -->
  </tui-loader>
</div>
