<!-- form -->
<form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
  <!-- field -->
  <div class="mt-5">
    <tui-input formControlName="email">
      Email
      <span class="tui-required"></span>
    </tui-input>
    <tui-field-error formControlName="email"></tui-field-error>
  </div>
  <!-- /field -->

  <!-- field -->
  <div class="mt-5">
    <tui-input-password formControlName="password">
      Contraseña
      <span class="tui-required"></span>
    </tui-input-password>
    <tui-field-error formControlName="password"></tui-field-error>
  </div>
  <!-- /field -->

  <!-- button -->
  <button
    tuiButton
    type="submit"
    appearance="primary"
    class="inline-flex w-full mt-5"
  >
    Iniciar sesión
  </button>
  <!-- /button -->
</form>
<!-- /form -->
