<!-- form -->
<form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
  <!-- notification -->
  <!-- <tui-notification *ngIf="errorMsg" class="my-5" status="error">
    {{ errorMsg }}
  </tui-notification> -->
  <!-- /notification -->

  <!-- field -->
  <div class="mt-5">
    <tui-input formControlName="username">
      Email
      <span class="tui-required"></span>
    </tui-input>
    <tui-field-error formControlName="username"></tui-field-error>
  </div>
  <!-- /field -->

  <!-- field -->
  <div class="mt-5">
    <tui-input-password formControlName="password">
      Contraseña
      <span class="tui-required"></span>
    </tui-input-password>
    <tui-field-error formControlName="password"></tui-field-error>
  </div>
  <!-- /field -->

  <!-- button -->
  <div class="mt-5">
    <tui-loader
      [showLoader]="loading"
      [inheritColor]="true"
      [overlay]="true"
      class="inline-flex"
    >
      <button
        tuiButton
        type="submit"
        appearance="primary"
        class="inline-flex w-full"
      >
        Iniciar sesión
      </button>
    </tui-loader>
  </div>
  <!-- /button -->
</form>
<!-- /form -->
