<ul class="space-y-4">
  <li
    *ngFor="let product of products; trackBy: trackByProductId"
    class="px-0 py-4 border-b border-gray-400 md:px-4"
  >
    <div
      class="flex flex-col items-center justify-center mb-6 md:justify-between md:flex-row"
    >
      <!-- left -->
      <div class="flex flex-col items-center md:flex-row">
        <!-- image -->
        <div
          class="grid w-16 h-16 mb-4 bg-gray-400 rounded-full place-items-center md:mb-0"
        >
          <img
            src="../../../../assets/img-placeholder.png"
            alt="Image placeholder"
          />
        </div>
        <!-- /image -->

        <div class="ml-4 text-center">
          <h3 class="block m-0 text-lg font-semibold">
            {{ product?.name }}
          </h3>
          <span class="block">
            {{ product?.name }}
          </span>
        </div>
      </div>
      <!-- /left -->

      <!-- right -->
      <div>
        <span class="text-2xl">
          {{ product?.price | currency }}
        </span>
      </div>
      <!-- /right -->
    </div>

    <div class="flex items-center justify-center md:justify-end">
      <button
        tuiButton
        appearance="danger"
        class="outline-none"
        size="s"
        (click)="onClickDelete(product.id)"
      >
        Eliminar
      </button>
    </div>
  </li>
</ul>
