<ul class="space-y-4">
  <li
    *ngFor="let product of products; trackBy: trackByProductId"
    class="p-4 border-b border-gray-400"
  >
    <div class="flex items-center justify-between mb-6">
      <!-- left -->
      <div class="flex items-center">
        <!-- image -->
        <div class="grid w-16 h-16 bg-gray-400 rounded-full place-items-center">
          <img
            src="../../../../assets/img-placeholder.png"
            alt="Image placeholder"
          />
        </div>
        <!-- /image -->

        <div class="ml-4">
          <h3 class="block m-0 text-lg font-semibold">
            {{ product?.name }}
          </h3>
          <span class="block">
            {{ product?.name }}
          </span>
        </div>
      </div>
      <!-- /left -->

      <!-- right -->
      <div>
        <span class="text-2xl">
          {{ product?.price | currency }}
        </span>
      </div>
      <!-- /right -->
    </div>

    <div class="flex justify-end items center">
      <button
        tuiButton
        appearance="danger"
        class="outline-none"
        size="s"
        (click)="onClickDelete(product.id)"
      >
        Eliminar
      </button>
    </div>
  </li>
</ul>
